{extend name="public/base"}
{block name="seo" /}
<title>{$title|default='标题'}</title>
{/block}
{block name="content"}
<article class="page-container">
        <form method="POST" action="{:url('update', ['id' => $id])}" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" >
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$student.id}" placeholder="" id="" name="id">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学生名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$student.name}" placeholder="" id="" name="name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上传图片：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="file" name="img"/>
                    <img  src="__STATIC__/uploads/{$student.img}" />
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                </div>
            </div>
        </form>
    </article>
    {/block}